doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Impact Hub Oakland
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet' type='text/css' href='/styles/normalize.css')
    link(rel='stylesheet' type='text/css' href='/styles/styles.css')
    block styles
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/scripts/client.js")
  body
    block nav
      nav
        a.logo(href='')

        a.burger(href='')
          .burger-bar
          .burger-bar
          .burger-bar
        .nav-dropdown
          a(href='') Join
          a(href='') Omi Gallery
          a(href='') About Us
    block content
  .flexbox-container.footer
    div
      h2 Sign up for our newsletter
      form(action='/newsletter', method='post')
        div
          label(for='mail') E-mail:
          input#mail(type='email', name='user_mail')
        .button
          button(type='submit') Subscribe
      h2 Connect With Us
      .flexbox-container
        
    div
      h2 Contact Us
      form(action='/contact', method='post')
        div
          label(for='full name') Name:
          input#name(type='text', name='full_name')
        div
          label(for='mail') E-mail:
          input#mail(type='email', name='user_mail')
        div
          label(for='subject') Subject:
          input#subject(type='text', name='subject')
        div
          label(for='msg') Message:
          textarea#msg(name='user_message')
        .button
          button(type='submit') Send your message

    
