extends layout.pug 

block content
  h1 Index Page


  .carousel
    for image, index in carouselImages
      .carousel-image(class: className)
        img(src=image)
    .carousel-arrow.carousel-arrow-left
      a(href='')='<'
    .carousel-arrow.carousel-arrow-right
      a(href='')='>'
    .carousel-dots
      for image in carouselImages
        a.carousel-dot(href="")