extends layout.pug 

block content
  h1 Index Page

  .carousel
    .carousel-image.carousel-showing
      img(src='/images/pic1.jpg')
    .carousel-image
      img(src='/images/pic2.jpg')
    .carousel-image
      img(src='/images/pic3.jpg')
    a.carousel-arrow.carousel-arrow-left(href='')='<'
    a.carousel-arrow.carousel-arrow-right(href='')='>'

