doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Impact Hub Oakland
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet' type='text/css' href='/styles/normalize.css')
    link(rel='stylesheet' type='text/css' href='/styles/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="./slideshow.js")
  body
    nav
      a.logo(href='')

      a.burger(href='')
        .burger-bar
        .burger-bar
        .burger-bar
        .nav-dropdown
          a(href='') Join
          a(href='') Omi Gallery
    h1 Oakland 
     nav.navbar
      .container-fluid
        .navbar-header
          button(src='/main') Omi Gallery
          button(src='/') Join
  div 
    .slideshow-container
      .mySlides.fade
        .numbertext 
        img(src='./images/pic1.jpg', name='slide', style='width:100%')
        .text 
    a.prev(onclick='plusSlides(-1)') <
    a.next(onclick='plusSlides(1)') >


  div
    span.dot()
    span.dot()
    span.dot()

  div
  section.module.parallax.parallax-1
    .container
      h1 IMPACT HUB
  section.module.content
    .container
      h2 Section 2
      p Section 2 Text
  section.module.parallax.parallax-2
    .container
      h1 
  section.module.content
    .container
      h2 Section 4 Heading
      p Section 4 Text
  section.module.parallax.parallax-3
    .container
      h1
  section.module.content
    .container
      h2 Section 6 Heading
      p Section 6 Text


