doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Impact Hub Oakland
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet' type='text/css' href='/styles/normalize.css')
    link(rel='stylesheet' type='text/css' href='/styles/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="slideshow.js")
  body
    nav
      a.logo(href='')

      a.burger(href='')
        .burger-bar
        .burger-bar
        .burger-bar
      .nav-dropdown
        a(href='') Join
        a(href='') Omi Gallery
    h1 Oakland 
     nav.navbar
      .container-fluid
        .navbar-header
          button(href='/')
           | Omi Gallery
          button(href='/')
           | Join

.slideshow-container
  .mySlides.fade
    .numbertext 1 / 3
    img(src='http://placehold.it/350x150')
    .text IMPACT HUB
  .mySlides.fade
    .numbertext 2 / 3
    img(src='http://placehold.it/350x150')
    .text
  .mySlides.fade
    .numbertext 3 / 3
    img(src='http://placehold.it/350x150')
    .text 
  a.prev(onclick='plusSlides(-1)') ❮
  a.next(onclick='plusSlides(1)') ❯
br

div
  span.dot(onclick='showSlides(1)')
  span.dot(onclick='showSlides(2)')
  span.dot(onclick='showSlides(3)')
