extends layout.pug 

block content
  //- .section-1
  //-   .container
  //-     img(src='/images/pic1.jpg' margin-bottom='40px')
  .section3-2
    .container
      h3 Column 1
      h3 Column 2
      h3 Column 3
  .section-2
    .flexbox-container
      h3 Column 1
      h3 Column 2
  .section-4
    .container
      h1 Content
  .section-5
    .container
      h1 Content
  .section-6
    .container
      h1 Content
      
        
