extends layout.pug 

block content

  .joinbanner
  .banner-buttons
    h2 BUY A DAY PASS 
    h2 INDIVIDUAL MEMBERSHIP
    h2 ORGANIZATIONAL MEMBERSHIP
  .featured
    .featured3
      .upcoming-events-image2
      .event-description2
        h1 INDIVIDUAL MEMBERSHIP
        p When you become a member of Impact Hub Oakland, you are a part of a rich diverse community of purpose driven people who believe another world is possible. Additionally, chances are high that the person sitting next to you is exactly who you need to meet.
        .banner-buttons
          h2 PRICING PLANS
  .spacer
  .featured
    .featured3
      .upcoming-events-image2
      .event-description2
        h1 ORGANIZATIONAL MEMBERSHIP
        p When you become a member of Impact Hub Oakland, you are a part of a rich diverse community of purpose driven people who believe another world is possible. Additionally, chances are high that the person sitting next to you is exactly who you need to meet.
        .banner-buttons
          h2 PRICING PLANS
  .spacer
  .featured
    .featured3
      .upcoming-events-image2
      .event-description2
        h1 WORK TRADE
        p This is the perfect option for you and your company if you want to stay connected to the Impact Hub Oakland community and/or take a break from your office and come work from IH
        .banner-buttons
          h2 APPLY
  .spacer
