extends layout.pug 

block content

  section.module.content
    .columnsContainer
        .leftColumn
          h3 OMI GALLERY
          p 2323 Broadway | Oakland, 94612 Mis Raices/My Roots August 5 - September 30, 2016 13 new prints by Mexican artist Jhovany Rodriguez De Ala. In this show, Jhovany talks about Art as Informant by showing us our history and allowing us to discover and reconstruct our identity through reflections that demand us images that speak of humanity and identity struggles.
        .rightColumn
          img(src='./images/Myroots_postcard_back.png' width='300px' height='400px')
