extends layout.pug
block content


  h1 Oakland
  div
    .header
      //- button(src='/main') Omi Gallery
      //- button(src='/') Join
  section.carousel
    .container
      h2 Carousel
        img.mySlides(src='/images/pic1.jpg' style='width: 100%')
        img.mySlides(src='/images/pic2.jpg' style='width: 100%')
        img.mySlides(src='/images/pic3.jpg' style='width: 100%')
      a.prev(href='/images/pic2.jpg') <
      a.next(href='/images/pic3.jpg') >
      //- img.slides(src='/images/pic2.jpg' style='width: 100%')
      //- img.slides(src='/images/pic3.jpg' style='width: 100%')
  //-   div
  //-   .carousel(style='max-width:250px')
  //-     img.mySlides(src='/images/pic1.jpg', style='width:100%')
  //-     img.mySlides(src='/images/pic2.jpg', style='width:100%')
  //-     img.mySlides(src='/images/pic3.jpg', style='width:100%')
  //-
  //-
  //-   a.prev(onclick='movetoNext()') <
  //-   a.next(onclick='') >
  //-
  //-
  //- div
  //-   span.dot()
  //-   span.dot()
  //-   span.dot()

  div
  section.module.parallax.parallax-1
    .container
  section.module.content
    .container
      h2 Section 2
      p Section 2 Text
  section.module.parallax.parallax-2
    .container
      h1
  section.module.content
    .container
      h2 Section 4 Heading
      p Section 4 Text
  section.module.parallax.parallax-3
    .container
      h1
  section.module.content
    .container
      h2 Section 6 Heading
      p Section 6 Text
  div
  section.footer
    .container
      h2 Footer
      input(type='text', placeholder='name')
      input(type='text', placeholder='email')
      input(type='submit', name='Sign Up')
