doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Impact Hub Oakland
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet' type='text/css' href='/styles/normalize.css')
    link(rel='stylesheet' type='text/css' href='/styles/slideshow.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/scripts/slideshow.js")
  body
    nav
      a.logo(href='')

      a.burger(href='')
        .burger-bar
        .burger-bar
        .burger-bar
        .nav-dropdown
          a(href='') Join
          a(href='') Omi Gallery
    h1 Oakland 
     div
        .header
          button(src='/main') Omi Gallery
          button(src='/') Join
    div
    .carousel(style='max-width:250px')
      img.mySlides(src='/images/pic1.jpg', style='width:100%')
      img.mySlides(src='/images/pic2.jpg', style='width:100%')
      img.mySlides(src='/images/pic3.jpg', style='width:100%')


    a.prev(onclick='movetoNext()') <
    a.next(onclick='') >


  div
    span.dot()
    span.dot()
    span.dot()

  div
  section.module.parallax.parallax-1
    .container
      h1 IMPACT HUB
  section.module.content
    .container
      h2 Section 2
      p Section 2 Text
  section.module.parallax.parallax-2
    .container
      h1 
  section.module.content
    .container
      h2 Section 4 Heading
      p Section 4 Text
  section.module.parallax.parallax-3
    .container
      h1
  section.module.content
    .container
      h2 Section 6 Heading
      p Section 6 Text
  div
  section.footer
    .container
      h2 Footer
      input(type='text', placeholder='name')
      input(type='text', placeholder='email') 
      input(type='submit', name='Sign Up')




