doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Impact Hub Oakland
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet' type='text/css' href='/styles/normalize.css')
    link(rel='stylesheet' type='text/css' href='/styles/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/scripts/client.js")
  body
    nav
      a.logo(href='')

      a.burger(href='')
        .burger-bar
        .burger-bar
        .burger-bar
        .nav-dropdown
          a(href='') Join
          a(href='') Omi Gallery
  .header
    h1 Oakland 


  div
  section.module.parallax.parallax-1
    .container
      h1 IMPACT HUB
  section.module.content
    .container
      img.omilogo(src='/images/logo.png')
      p Omi Gallery is a interactive space for artisans, theorists, creative entrepreneurs, organizers, and students designed to feature diverse voices and genres that are artistically and socially relevant. Our programming intentionally nourishes partnerships between creatives, businesses, institutions, and the public. Omi Gallery presents Invite Only, new and traveling visual, sound, and performance works by emerging and established curators and artists, as well as concept-driven shared exhibitions in collaboration with other cultural institutions. We are located in Oakland at Impact Hub Oakland and in San Francisco at ThoughtWorks in SoMA.
      
      Gallery Director: Ashara Ekundayo
      br
      Gallery Manager: Melonie Green


      .columnsContainer
        .leftColumn
          h3 OMI GALLERY
          p 2323 Broadway | Oakland, 94612 Mis Raices/My Roots August 5 - September 30, 2016 13 new prints by Mexican artist Jhovany Rodriguez De Ala. In this show, Jhovany talks about Art as Informant by showing us our history and allowing us to discover and reconstruct our identity through reflections that demand us images that speak of humanity and identity struggles.
        .rightColumn
          img(src='./images/Myroots_postcard_back.png' width='300px' height='400px')
  
  section.module.parallax.parallax-2
    .container
      h1 IMPACT HUB
  section.module.content
    .container
      img.omilogo(src='/images/logo.png')
      p Omi Gallery is a interactive space for artisans, theorists, creative entrepreneurs, organizers, and students designed to feature diverse voices and genres that are artistically and socially relevant. Our programming intentionally nourishes partnerships between creatives, businesses, institutions, and the public. Omi Gallery presents Invite Only, new and traveling visual, sound, and performance works by emerging and established curators and artists, as well as concept-driven shared exhibitions in collaboration with other cultural institutions. We are located in Oakland at Impact Hub Oakland and in San Francisco at ThoughtWorks in SoMA.
      
      Gallery Director: Ashara Ekundayo
      br
      Gallery Manager: Melonie Green


      .columnsContainer
        .leftColumn
          h3 OMI GALLERY
          p 2323 Broadway | Oakland, 94612 Mis Raices/My Roots August 5 - September 30, 2016 13 new prints by Mexican artist Jhovany Rodriguez De Ala. In this show, Jhovany talks about Art as Informant by showing us our history and allowing us to discover and reconstruct our identity through reflections that demand us images that speak of humanity and identity struggles.
        .rightColumn
          img(src='./images/Myroots_postcard_back.png' width='300px' height='400px')

  section.module.parallax.parallax-3
    .container
      h1 SECTION 6
  section.module.content
    .container
      h2 Blog Posts
      p Section 6 Text
  section.module.parallax.parallax-4
    .container
      h1 
  section.module.content
    .container
      h2 Youtube Videos
      iframe(width="560" height="315" src="https://www.youtube.com/embed/fmR1A4xh2sk" frameborder="10px" allowfullscreen)

  section.footer
    .container
      p Interested in the current exhibition and/or would like to show your work at Omi Gallery? Drop us a line with links to your portfolio.
      p Name
      input(type='text', placeholder='Your name') 
      p Subject
      input(type='text', placeholder='Subject')
      p Email
      input(type='text', placeholder='Email')
      p Message
      textarea(name='content', rows='10', cols='50', placeholder='Your Message') 
      br
      input(type='submit', name='Sign Up')



  section.footer.socialmedia
    a(href='twitter.com') FACEBOOK
    a(href='facebook.com') TWITTER
    a(href='facebook.com') TUMBLR
    a(href='twitter.com') INSTAGRAM




