* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  left: 30px;
  top: 20px;
  color: gray;
  opacity: .3;

}

nav {
  position: relative;
  background-color: black;
  padding: 1px;
  height: 38px;
}

nav .burger {
  display: block;
  position: absolute;
  top: 7px;
  right: 15px;
  height: 20px;
  width: 20px;
}

.burger > .burger-bar {
  border-bottom: 2px solid white;
  margin-top: 4px;
}

.slides {
	top: 100px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  top: 100px;
  margin: auto;
  padding-bottom: 100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: fixed;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: fixed;
}

h1 {
  bottom: 100px;
  text-align: center;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: red;
  opacity: .4;
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
div .dot {
  cursor:pointer;
  height: 20px;
  width: 20px;
  margin: 20 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div .dot:hover {
  cursor:pointer;
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS PARALLAX
============================================================ */
section.module:last-child {
  margin-bottom: 0;
  padding: 50px;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/images/pic1.jpg");
  margin: 20px;

}
section.module.parallax-2 {
  background-image: url("/images/pic2.jpg");
  margin: 20px;
}
section.module.parallax-3 {
  background-image: url("/images/pic3.jpg");
  margin: 20px;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}


/*footer*/

section.footer {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

/* carousel */

.carouselbox {
  top: 50px;
  left: 300px;
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 75px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  overflow: hidden;
  text-align: center;
}
.content {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}


.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
}
.offscreen {
  position: absolute;
  left: -2000px;
}


/*carousel*/

.mySlides {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
}

.mySlides1 {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
