* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

/*For oakland header*/
/*h1 {
  position: absolute;
  left: 30px;
  top: 20px;
  color: gray;
  opacity: .3;

}*/

nav {
  position: relative;
  background-color: black;
  padding: 1px;
  height: 38px;
}

nav .burger {
  display: block;
  position: absolute;
  top: 7px;
  right: 15px;
  height: 20px;
  width: 20px;
}

.burger > .burger-bar {
  border-bottom: 2px solid white;
  margin-top: 4px;
}



.slides {
  top: 100px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

h1 {
  bottom: 100px;
  text-align: center;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}  
.nav-dropdown {
  position:absolute;
  top: 38px;
  right: 0px;
  padding: 1em;
  border: 1px solid;
  border-color: #b77c82;
  background-color: #89131f;
  display: none;
}

.nav-dropdown > a {
  display: block;
  padding: .5em;
  color: white;
  text-decoration: none;
}


/* The dots/bullets/indicators */
div .dot {
  cursor:pointer;
  height: 20px;
  width: 20px;
  margin: 20 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div .dot:hover {
  cursor:pointer;
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS PARALLAX
============================================================ */
section.module:last-child {
  margin-bottom: 0;
  padding: 50px;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  text-align: center;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/images/pic1.jpg");
  margin: 40px;

}
section.module.parallax-2 {
  background-image: url("/images/pic2.jpg");
  margin: 40px;
}
section.module.parallax-3 {
  background-image: url("/images/pic3.jpg");
  margin: 40px;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}


/*footer*/

section.footer {
  color: black;
  margin: 40px;
  padding: 20px;
}


/*omi gallery skeleton*/

section.carouselplaceholder {
  position: absolute;
  width: 100%;
  margin: 40px;
}

img.omilogo {
  position: relative;
  max-width: 50%
  max-height: 50%;
}

section.footer p {
  line-height: 30px;
  text-align: left;
}


section.footer.socialmedia {
  background-color: pink;
  color: white;

}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer { position: absolute; margin: 1.5em; }
/*
.leftColumn, .rightColumn, footer, header { padding: 1.25em; }*/

.leftColumn { margin-bottom: .5em; }

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 10px;
}

.inline-items li {
  margin-left: 10px;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn {
    margin-right: 19.5em;
  }

  .rightColumn { 
    position: relative; 
    right: 20px;
    display: block;
    margin-left: auto;
    margin-right: 40px;
    width: 6em
  }   


.carousel {
  background-color: black;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
/*  z-index: -3;*/
}

.carousel > .carousel-image {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.carousel > .carousel-image-animated{
  transition: left 1s;
}

.carousel > .carousel-center-stage{
  left: 0;
}
.carousel > .carousel-stage-left{
  left: -100%;
}
.carousel > .carousel-stage-right{
  left: 100%;
}

.carousel > .carousel-image > img {
  max-height: 100%;
  max-width: 100%;
}

.carousel > .carousel-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  color: white;
  font-size: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel > .carousel-arrow > a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.carousel > .carousel-arrow > a:hover{
  color: rgba(255, 255, 255, 0.95);
}

.carousel > .carousel-arrow-left {
  left: 0;

}

.carousel > .carousel-arrow-right {
  right: 0;
}

.carousel > .carousel-dots{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

}
.carousel > .carousel-dots > .carousel-dot{
  display: inline-block;
  border-radius: 999px;
  background-color: white;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  transition: background-color 1s;
}
.carousel > .carousel-dots > .carousel-dot.active{
  background-color: black;
}

/*INDEX SKELETON*/
.section-1, .section-4 {
  background-color: black;
  margin-bottom: 40px;
  color: white;
  min-width: 100%;
  height: 200px;
}

.section-1 h1 {
  color: white;
}

.section-2 {
  columns: 2 400px;
  margin: 20px;
  text-align: center;
}

.section-3 {
  columns: 4 200px;
  margin: 20px;
  text-align: center;
}

.section-5 {
  text-align: center;
  background-color: black;
  min-width: 100%;
  height: 200px;
  margin: 40px;
}


/*JOIN PUG*/

.section3-2 {
  columns: 3;
  margin: 20px;
  text-align: center;
}

.flex-item {
  justify-content: space-around;
  display: flex;
  columns: 2;
}
