/*general css*/ 

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  color: #434343;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  /*outline: 1px dotted red;*/
}

@media (min-width: 768px){
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}

/* navbar */ 

nav {
  position: relative;
  background-color: black;
  padding: 1px;
  height: 38px;
}

nav .burger {
  display: block;
  position: absolute;
  top: 7px;
  right: 15px;
  height: 20px;
  width: 20px;
}

.burger > .burger-bar {
  border-bottom: 2px solid white;
  margin-top: 4px;
}



.slides {
  top: 100px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}  
.nav-dropdown {
  position:absolute;
  top: 38px;
  right: 0px;
  padding: 1em;
  border: 1px solid;
  border-color: #b77c82;
  background-color: #89131f;
  display: none;
  z-index: 1;
}

.nav-dropdown > a {
  display: block;
  padding: .5em;
  color: white;
  text-decoration: none;
}


/* The dots/bullets/indicators */
div .dot {
  cursor:pointer;
  height: 20px;
  width: 20px;
  margin: 20 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div .dot:hover {
  cursor:pointer;
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*parallax*/ 

section.module:last-child {
  margin-bottom: 0;
  padding: 50px;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  text-align: center;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 100px;
  align-items: center;
}
section.module.parallax h1 {
  color: white;
  font-size: 30px;
  align-items: center;
  text-align: left;
}
section.module.parallax-1 {
  background-image: url("/images/pic1.jpg");
}
section.module.parallax-2 {
  background-image: url("/images/pic2.jpg");
 
}
section.module.parallax-3 {
  background-image: url("/images/pic3.jpg");
}

section.module.parallax-5 {
  background-image: url("/images/gallerypic3.jpg");
  color: white;
  align-items: center;
}

section.module.parallax-6 {
  background-image: url("/images/umigallery.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
    align-items: center;
  }
}

/*footer*/
section.footer {
  color: black;
 
  padding: 20px;
}

img.gallery {
  width: 300px;
  height: 350px;
}

section.footer p {
  line-height: 30px;
  text-align: left;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer, footer, header { position: relative; margin: 1.5em; }

.leftColumn, .rightColumn, footer, header { padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 10px;
}

.inline-items li {
  margin-left: 10px;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/*carousel*/ 

.carousel {
  display: none;
  background-color: black;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}
@media (min-width: 768px){
  .carousel{
    display: block;
  }
}
.carousel > .carousel-image {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.carousel > .carousel-image-animated{
  transition: left 1s;
}

.carousel > .carousel-center-stage{
  left: 0;
}
.carousel > .carousel-stage-left{
  left: -100%;
}
.carousel > .carousel-stage-right{
  left: 100%;
}

.carousel > .carousel-image > img {
  max-height: 100%;
  max-width: 100%;
}

.carousel > .carousel-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  color: white;
  font-size: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel > .carousel-arrow > a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.carousel > .carousel-arrow > a:hover{
  color: rgba(255, 255, 255, 0.95);
}

.carousel > .carousel-arrow-left {
  left: 0;

}

.carousel > .carousel-arrow-right {
  right: 0;
}

.carousel > .carousel-dots{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

}
.carousel > .carousel-dots > .carousel-dot{
  display: inline-block;
  border-radius: 999px;
  background-color: white;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  transition: background-color 1s;
}
.carousel > .carousel-dots > .carousel-dot.active{
  background-color: black;
}

/*index*/ 
.mission {
  background-image: url('/images/chalkboard.jpg');
  height: 250px;
}

.mission h1 {
  color: white;
}

.mission p {
  color: white;
}

@media (min-width: 768px){
  .mission {
    display: flex;
    justify-content: space-around;
  }
}
.featured {
  /*columns: 2 400px;*/
  margin: 20px;
}

@media (min-width: 768px){
  .featured2 {
    display: flex;
    justify-content: space-around;
  }
}

.book-host {
  background-image: url('/images/pingpong.jpg');
  background-position: center;
  height: 300pux;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie {
  margin: 25px;
    text-align: center;
}

.section-3 {
  margin: 20px;
  text-align: center;
}

.event-description{
  display: inline-block;
  /*outline: 1px dotted green;*/
  width: 50%;
  /*min-height: 311px;*/
  vertical-align: top;
  padding: 10px;
}

.event-description.gallery{
  display: inline-block;
  outline: 1px solid gray;
  padding-bottom: 200px;
}

@media (min-width: 992px){
  .event-description {
    width: 100%;""
  }
}

@media (min-width: 992px){
 .event-description.gallery {
    width: 100%;""
  }
}

@media (min-width: 768px){
  .event-description.gallery {
    width: 33%;
  }
}


.event-description-image{
  height: 200px;
  width: 100%;
  background: black;
}
.event-description-title {
  
}

.youth {
  margin: 50px;
}

@media (min-width: 768px){
  .youth2 {
    display: flex;
    justify-content: space-around;
  }
}

.main-header{
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.event-description2{
  font-size: 20px;
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
}

.footer form {
}
@media (min-width: 768px){
  .footer {
    display: flex;
    justify-content: space-around;
  }
}

nav .logo {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  height: 80px;
  width: 80px;
  background-size: contain;
  background-image: url('/images/impact-hub-logo.png');
  background-repeat: no-repeat;
}

/*omi*/

body {
  padding: 40px;
}

.gallery2 {
  text-align: center;
  margin-top: 40px;
}

.galleryText {
  text-align: left;
  line-height: 30px;
}
 .upcoming-events-image {
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}

.upcoming-events {
  margin-top: 50px;
}

section.form {
  width: 100%;
}

section.socialmediafooter {
  height: 125px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #ff1493;
  color: white;
}

p.info {
  line-height: 30px;
}

button.info {
  width: 100%;
  line-height: 36px;
  color: white;
  background-color: grey;
  outline: black;
  border-radius: 2%;
}

img.icon {
  margin: 20px;
  filter: invert(100%);
}
