* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  left: 30px;
  top: 20px;
  color: gray;
  opacity: .3;

}

nav {
  position: relative;
  background-color: black;
  padding: 1px;
  height: 38px;
}

nav .burger {
  display: block;
  position: absolute;
  top: 7px;
  right: 15px;
  height: 20px;
  width: 20px;
}

.burger > .burger-bar {
  border-bottom: 2px solid white;
  margin-top: 4px;
}

.nav-dropdown {
  position: absolute;
  top: 38px;
  right: 0px;
  padding: 1em;
  border: 1px solid;
  border-color: #b77c82;
  background-color: #89131f;
  display: none;
}

.nav-dropdown:hover {
  display: 
}

.nav-dropdown > a {
  display: block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.carousel {
  background-color: black;
  height: 300px;
  position: relative;
  overflow: hidden;

}

.carousel > .carousel-image {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  text-align: center;
  transition: left 1s;
}

.carousel > .carousel-showing{
  left: 0;

}

.carousel > .carousel-image > img {
  max-height: 100%;
  max-width: 100%;
}

.carousel > .carousel-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  color: white;
  font-size: 120%;

}

.carousel > .carousel-arrow:hover {
  background-color: red;
}

.carousel > .carousel-arrow-left {
  left: 0;

}

.carousel > .carousel-arrow-right {
  right: 0;

}
